{% extends "ServerMgmt/common.twig" %}

{% set title = {
                'title': "Shared folder"|trans,
                'help': "Here you can manage the folder and access rights."|trans} %}


{% block content %}{{ parent() }}

<script type="text/javascript">
    function delete_project(id) {
        bootbox.confirm("{% trans %}Are you sure that you want to delete this folder ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
            if(result) window.location.href="{{ url('servermgmt_folder_del', {"Id":''}) }}" + id;
        });
    }
</script>

{# start #}
<div class="row-fluid" align="right">
    <a href="javascript:;" onclick="javascript:create_or_duplicate_project(null);" class="btn btn-success btn-small"><i class="icon-plus-sign icon-white"></i> {% trans %}New folder{% endtrans %}</a>
</div>
<br />

{% import "table.twig" as table_data %}
{{ table_data.datatable() }}


<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans %}Folder{% endtrans %}</th>
      <th>{% trans %}Username{% endtrans %}</th>
      <th>{% trans %}Can read in folder{% endtrans %}</th>
      <th>{% trans %}Can write in folder{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for folder, user in data_table %}
      {% for employee in employee_list %}
      <tr>
        {% if loop.first %}
          <td rowspan={{ loop.length }}>{{ folder }}</td>
        {% endif %}
          {% set read = false %}
          {% set write = false %}
        <td>{{ employee.login }}</td>
        <td>
          {% if user[employee.login] == "r-x" %}{% set read = true %}{% endif %}
          {{ forms.checkbox(employee.login, null , employee.login, read ) }}
        </td>
        <td>
          {% if user[employee.login] == "rwx" %}{% set write = true %}{% endif %}
          {{ forms.checkbox(employee.login, null , employee.login, write ) }}
        </td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>



{% endblock %}
