{% extends "ServerMgmt/common.twig" %}

{% set title = {
                'title': "Shared folder"|trans,
                'help': "Here you can manage the folder and access rights."|trans} %}


{% block content %}{{ parent() }}

<div id="id-wizz"></div>

<script type="text/javascript">
    function delete_folder(name) {
        bootbox.confirm("{% trans %}Are you sure that you want to delete this folder ?{% endtrans %}", "{% trans %}No{% endtrans %}", "{% trans %}Yes{% endtrans %}", function(result) {
            if(result) window.location.href="{{ url('servermgmt_folder_delete', {"folderName":''}) }}" + name;
        });
    }

    ServerMgmt.init();
</script>

<div id="new-folder-modal" class="modal hide fade">
    <form class="modal-form form-horizontal" action="{{ url('servermgmt_folder_new') }}" id="new-folder-form" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{% trans %}New folder{% endtrans %}</h3>
        </div>
        <div class="modal-body">
          {{ forms.input('folderName', 'Folder name'|trans) }}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <button type="submit" class="btn btn-primary">{% trans %}Create new folder{% endtrans %}</button>
        </div>
    </form>
</div>

<div id="rename-folder-modal" class="modal hide fade">
    <form class="modal-form form-horizontal" action="{{ url('servermgmt_folder_rename') }}" id="rename-folder-form" method="post">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{% trans %}Rename folder{% endtrans %}</h3>
        </div>
        <div class="modal-body">
          {{ forms.input('previousName', 'Current folder name'|trans, null, null, null, null, null, "readonly") }}
          {{ forms.input('newName', 'New folder name'|trans) }}
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" >Close</a>
            <button type="submit" class="btn btn-primary">{% trans %}Rename folder{% endtrans %}</button>
        </div>
    </form>
</div>

<div class="row-fluid" align="right">
  <a href="#new-folder-modal" role="button" class="btn btn-success btn-small" data-toggle="modal"><i class="icon-plus-sign icon-white"></i> {% trans %}New folder{% endtrans %}</a>
</div>
<br />

{% import "table.twig" as table_data %}
{{ table_data.datatable() }}


<table id="list-right" cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed table-striped table-hover">
  <thead>
    <tr>
      <th>{% trans %}Folder name{% endtrans %}</th>
      <th>{% trans %}Username{% endtrans %}</th>
      <th>{% trans %}Can read in folder{% endtrans %}</th>
      <th>{% trans %}Can write in folder{% endtrans %}</th>
      <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% for folder, user in data_table %}
      {% for employee in employee_list %}
      <tr>
        {% if loop.first %}
          <td rowspan={{ loop.length }}><span class="folder-name">{{ folder }}</span></td>
        {% endif %}
          {% set read = false %}
          {% set write = false %}
        <td>{{ employee.login }}</td>
        <td>
          {% if user[employee.login] == "r-x" %}{% set read = true %}{% endif %}
          {% if user[employee.login] == "rwx" %}{% set write = true %}{% endif %}
          <input class="span9"
            name="{{ employee.login }}"
            value="{{ employee.login }}"
            id="read"
            data-login="{{ employee.login }}"
            data-folder="{{ folder }}"
            data-right="read"
            type="checkbox"
            {% if write == true %}disabled="true"{% endif %}
            {% if read == true or write == true %}checked="checked"{% endif %}
            onclick="ServerMgmt.SambaController.changeRight(this)">
        </td>
        <td>
          <input class="span9"
            name="{{ employee.login }}"
            value="{{ employee.login }}"
            id="write"
            data-login="{{ employee.login }}"
            data-folder="{{ folder }}"
            data-right="write"
            type="checkbox"
            {% if write == true %}checked="checked"{% endif %}
            onclick="ServerMgmt.SambaController.changeRight(this)">
        </td>
        {% if loop.first %}
          <td rowspan={{ loop.length }}>
            <a href="#rename-folder-modal" data-toggle="modal" data-rename-folder="{{ folder }}" class="btn btn-mini a-visible-line-on-over">
              <i class="icon-edit"></i> {% trans %}Rename{% endtrans %}
            </a>
            <a href="javascript:delete_folder('{{ folder }}')" class="btn btn-danger btn-mini a-visible-line-on-over">
              <i class="icon-trash icon-white"></i> {% trans %}Delete{% endtrans %}
            </a>
          </td>
        {% endif %}
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>


{% endblock %}
